<ng-template appPlaceholder></ng-template>
<div class="row">
  <div class="col-xs-10 col-md-4">
    <div
      *ngIf="isLoading"
      style="text-align: center">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      *ngIf="!isLoading"
    >
      <div class="form-group">
        <label for="email">Email</label>
        <input
          ngModel
          type="email"
          id='email'
          formControlName="email"
          class="form-control">
        <div *ngIf="form.get('email').touched && form.get('email').invalid">
          <p
            class="error-p"
            *ngIf="form.controls['email'].hasError('required')"
          >Email field is required</p>
          <p
            class="error-p"
            *ngIf="form.controls['email'].hasError('email')"
          >Email field is in wrong format</p>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id='password'
          formControlName="password"
          class="form-control">
        <div
          class="error-p"
          *ngIf="form.get('password').touched && form.get('password').invalid"
        >
          <p
            class="error-p"
            *ngIf="form.controls['password'].hasError('required')"
          >Password field is required</p>
          <p
            class="error-p"
            *ngIf="form.controls['password'].hasError('minlength')"
          >Password minimum length is 8</p>
          <p
            class="error-p"
            *ngIf="form.controls['password'].hasError('hasNumber')"
          >Password must contain minimum 1 number</p>
          <p
            class="error-p"
            *ngIf="form.controls['password'].hasError('hasCapitalCase')"
          >Password must contain minimum 1 uppercase letter</p>
          <p
            class="error-p"
            *ngIf="form.controls['password'].hasError('hasSmallCase')"
          >Password must contain minimum 1 lowercase letter</p>
          <p
            class="error-p"
            *ngIf="form.controls['password'].hasError('hasSpecialCharacters')"
          >Password must contain minimum 1 special character letter</p>
        </div>
      </div>
      <div>
        <button
          [disabled]="!form.valid"
          type="submit"
          class="button-margin btn btn-primary"
        >{{isLoginMode ? 'Log in' : 'Sign up'}}</button>
        <button
          class="button-margin btn btn-primary"
          (click)="onSwitchMode()"
          type="button"
        >Switch to {{isLoginMode ? 'Sign up' : 'Log in'}}
        </button>
      </div>
    </form>
  </div>
  <div class="col-xs-12 gen-a-password">
    <button
      *ngIf="!isLoginMode"
      class="btn btn-info"
      (click)="generateAPass()"
      type="button"
    >Generate a password
    </button>
    <p class="bold-p">{{generatedPass}}</p>
  </div>
</div>

