.button-margin {
  margin-right: 10px;
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: 1px solid red;
}

.error-p {
  color: red;
  font-family: sans-serif;
  text-align: left;
  margin-top: 6%;
}

.top-margin {
  margin-top: 25px;
}

.bold-p {
  font-weight: bold;
  margin-top: 10%;
}

.forgot-pass-p {
  margin-top: 10px;
}

.forgot-pass-a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.forgot-pass-a:hover {
  cursor: pointer;
  color: #0056b3;
  text-decoration: underline;
}
